<div ng-if="getVideoAvailable()" class="rg-video-player" ng-show="getPlayerStatus()">
    <div><a class="button hollow warning" ng-click="togglePlayer()"><i class="fa" ng-class="getPlayerStatus() ? 'fa-caret-right' : 'fa-caret-left'"></i>&nbsp;Toggle player</a></div>
    <!-- <div><a ng-click="closePlayer()">Close player</a></div> -->
    <div ng-show="getPlayerStatus()">
        <div class="flex-video" ng-bind-html="getEmbedCode()"></div>
        <p>{{videoInfo.title}}</p>
        <p><small>{{videoInfo.description}}</small></p>
    </div>
</div>